<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="borrowing-table" class="table compact table-striped table-bordered element-borrow-table" style="width:100%">
                <thead>
                <tr>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#borrowing-table').DataTable({
        'serverSide': true,
        'ajax': '/api/v1/borrowings?user={{ object.id }}&state=IN_PROGRESS&format=datatables',
        'columns': [
            {
                data: 'element',
                title: 'Element',
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        url = "/element/" + data.id
                        data = '<a href="' + url + '">' + data.name + '</a>';
                        return data;
                    } else {
                        return data.name;
                    }
                }

            },
            {data: 'borrow_date_display', title: "From"},
            {data: 'return_date_display', title: "To"},
            {data: "comment", title: "Comment"},
            {
                        data: "id", title: "Extend",
                        render: function (data, type, row, meta) {
                            if (type === "display") {
                                disabled = false;
                                button = '<button type="button" class="btn btn-primary borroweventaction" href="#" data-borrow-action="extend" data-borrow-id="' + row.id + '" data-element-id="' + row.element.id + '" title="Extend" ';
                                if (disabled) {
                                    button += " disabled";
                                }
                                button += ">Extend</button>";
                                return button;
                            }
                            return "e"
                        }
                    },
            {
                data: "id", title: "Return",
                render: function (data, type, row, meta) {
                    if (type === "display") {
                        disabled = false;
                        button = '<button type="button" class="btn btn-primary borroweventaction" href="#" data-borrow-action="return" data-borrow-id="' + row.id + '" data-element-id="' + row.element.id + '" title="Return" ';
                        if (disabled) {
                            button += " disabled";
                        }
                        button += ">Return</button>";
                        return button;
                    }
                    return "e"
                }
            },


        ],
        "order": [[ 2, "desc" ]]

    });
</script>

