
<div class="modal hide" id="showEventModal">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="assignments-table" class="table compact table-striped table-bordered" style="width:100%">
                <thead>
                <tr>


                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#assignments-table').DataTable({
        'serverSide': true,
        'ajax': '/api/v1/maintenances/by_assignee/{{ object.id }}?format=datatables',
        'columns': [
            {
                data: 'element',
                title: 'Machine',
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            url = "/element/" + data.id
                            data = '<a href="' + url + '">' + data.name + '</a>';
                            return data;
                        }
                        return "Undefined"
                    } else {
                        return data.name;
                    }
                }

            },
            {
                data: 'recording_date', title: "Recording date", render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            return convertISO8601ToHuman(data);
                        }
                        else
                        {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }
            },
            {
                data: 'scheduled_date', title: "Best before", render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            return convertISO8601ToHuman(data);
                        }
                        else
                        {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }
            },

            {data: 'comment', title: "Comment"},
            {
                data: 'id',
                title: 'More',
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            url = "/event/" + data
                            data='<button type="button" class="btn btn-primary showevent" href="#" data-form="'+url+'" title="View" >View</button>';
                            return data;
                        }
                        return "Undefined"
                    } else {
                        return data;
                    }
                }

            },

        ],
        "drawCallback": function(settings, json) {
                $(".showevent").click(function(ev) { // for each edit contact url
                  ev.preventDefault(); // prevent navigation
                  var url = $(this).data("form"); // get the contact form url
                  $("#showEventModal").load(url, function() { // load the url into the modal
                    $(this).modal('show'); // display the modal on url load
                  });
                return false; // prevent the click propagation
                });

              }
    });

</script>

