{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="/static/styles/profile.css">
{% endblock %}
{% block body_content %}
<div class="modal hide" id="profilemodal">
</div>

        <!--- Left part of the page --->
        <div style="width: 70%;display: inline-block">

            <nav class="nav nav-tabs">
                <a class="nav-item nav-link active" href="#borrows" data-toggle="tab">Borrows</a>
                <a class="nav-item nav-link" href="#reservations" data-toggle="tab">Reservations</a>
                <a class="nav-item nav-link" href="#maintenances" data-toggle="tab">Maintenances</a>


            </nav>
            <div class="tab-content">

                <div class="tab-pane active" id="borrows">
                    {% include "profile/borrowings-list-component.html" %}
                </div>
                <div class="tab-pane" id="reservations">
                    {% include "profile/reservation-list-component.html" %}
                </div>
                <div class="tab-pane" id="maintenances">
                    {% include "profile/maintenance-list-assignment.html" %}
                </div>
            </div>

            <br>

        </div>
        <!--- Right part of the page --->
        <div style="width: 25%; display: inline-block; vertical-align: top">
            <!-- Profile infos --->
            <div class="card profile-card">
                <h5 class="text-center card-title">
                    {{ object.first_name }} {{ object.last_name |title }}
                </h5>
                <div class="card-img-top text-center">

                    {% if object.userprofile.avatar %}
                    <img width=150px src="{{ object.userprofile.avatar.url }}"/>
                    {% else %}
                    <img style="max-width: 150px" src="/static/person-icon.png">
                    {% endif %}
                </div>
                <div class="card-body">
                    <p><b>First name</b>: {{ object.first_name }}</p>
                    <p><b>Last name</b>: {{ object.last_name |title }}</p>
                    <p><b>Email</b>: {{ object.email }}</p>
                </div>
                <button type="button" class="btn btn-primary profile-edit" href="#" data-form="{% url 'edit_profile' object.userprofile.id %}" title="Edit profile">Edit profile</button>
            </div>
            <br>
            <!--- Projects --->
            {% if object.projects.count %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            My projects
                        </h5>
                        <ul class="list-group list-group-flush">
                            {% for project in object.projects.all %}
                                <li class="list-group-item"><a
                                        href="{% url 'view_project' project.id %}"> {{ project.name }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>

    <script>
        $(".profile-edit").click(function(ev) {
            url = $(this).data("form");
            $("#profilemodal").load(url, function() { // load the url into the modal
                $(this).modal('show'); // display the modal on url load
            });
        });
        </script>
{% endblock %}