venv
db.sqlite3
.idea
__pycache__/
.pyc
media/
iclogo/
footprint/
Temporary/
.keep
PartAttachment/
settings_secrets.py
.env.prod
.env.prod.db
data/
/static/
private/
docker-compose-prod.yml
docker-compose-online-dev.yml
.env.dev
.env.dev.db
db copy/