{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
{% endblock %}
{% block body_content %}

<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="event-table" class="table compact table-striped table-bordered" style="width:100%">
          <thead>
            <tr>


            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
<script type="text/javascript">

$('#event-table').DataTable({
              'serverSide': true,
              'ajax': '/api/v1/{% block typeapi %}borrowings{% endblock %}/?format=datatables',
              'columns': [
                {
                  data: 'element',
                  title: 'Element',
                  render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/element/"+data.id
                                data = '<a href="' + url + '">' + data.name + '</a>';
                                return data;
                            }
                            else
                            {
                                return data.name;
                            }
                  }

                },
                {
                  data: 'location_source',
                  title: 'In',
                  render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/location/"+data.id
                                data = '<a href="' + url + '">' + data.name + '</a>';
                                return data;
                            }
                            else
                            {
                                return data.name;
                            }


                          }
                },
                {
                  data: 'creator',
                  title: 'By',
                  render: function(data, type, row, meta){
                            if(type === 'display'){
                                if(data!=null)
                                {
                                    data =   data.get_full_name  ;
                                }
                            }

                            return data;
                          }
                },
				{ data: 'recording_date', title: "Recording Date" },
				{ data: 'scheduled_return_date', title: "Scheduled Return Date" },
				{ data: 'comment', title: "Comment" },


              ]

          });
          </script>

{% endblock %}
