{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
<script src="{% static "scripts/tree.js" %}"></script>
{% endblock %}
{% block body_content %}


<div class="modal hide" id="deleteModal">
</div>
<div class="container-fluid">

  <a class=" btn btn-primary event {% if not perms.Mindkeepr.add_component %}disabled{% endif%}" href="/component"
    title="Add component">Add component</a>
  <a class=" btn btn-primary event  {% if not perms.Mindkeepr.add_machine %}disabled{% endif%}" href="/machine"
    title="Add machine">Add machine</a>
  <a class=" btn btn-primary event {% if not perms.Mindkeepr.add_tool %}disabled{% endif%}" href="/tool"
    title="Add tool">Add tool</a>
  <a class=" btn btn-primary event {% if not perms.Mindkeepr.add_book %}disabled{% endif%}" href="/book"
    title="Add book">Add book</a>
  <div class="row">
    <div class="col-md-2">
      <div class="card ">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Categories</h4>
        </div>
        <div id="jstree_category"></div>
      </div>
    </div>
    <div class="col-md-10">
      <table id="element-table" class="table compact table-striped table-bordered" style="width:100%">
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">


  var searchString = findGetParameter("search");
  $('#searchinput').val(searchString);

  var elt_table = $('#element-table').DataTable({
              "dom": '<"top">rt<"bottom"lip><"clear">',
              'serverSide': true,
              "responsive": true,
              'ajax': '/api/v1/{% block typeapi %}elements{% endblock %}/?format=datatables',
              "oSearch": {"sSearch": searchString},
              "columnDefs": [
                {
                    "targets": [ 3 ],
                    "visible": false,
                    "searchable": true
                },
                {
                    "targets": '_all',
                    "defaultContent": ""
                }
              ],
              'columns': [
                  { data: 'id', title: "ID" },
                  { data: 'name', title: "Name" },
                  { data: 'category.name', title: "Category"},
                  { data: 'category.id', title: "Category ID"},
                  { data: 'description', title: "Description" },
                  {% block extracolumns %}
                  {
                      data:"type",
                      title: "Type",
                      orderable: false,
                      bSearchable:false
                  },
                  {% endblock %}
                  {% block qtycolumn %}
                  { data: "quantity_owned", title: "Quantity", orderable: false,bSearchable:false},
                  {% endblock %}
                  {
                            data: 'id',
                            title: 'View',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/element/"+data
                                data = '<a href="' + url + '">' + 'View' + '</a>';
                            }

                            return data;
                          },
                          orderable: false,
                    },
                    {% if perms.Mindkeepr.change_element %}
                    {
                            data: 'id',
                            title: 'Edit',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/{% block typeapisingle %}element{% endblock %}/"+data
                                data = '<a href="' + url + '">' + 'Edit' + '</a>';
                            }

                            return data;
                          },
                          orderable: false,

                    },
                    {% endif %}
                    {% if perms.Mindkeepr.delete_element %}
                    {
                            data: 'id',
                            title: 'Delete',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/element/delete/"+data
                                data='<button type="button" class="btn btn-primary delete" href="#" data-form="'+url+'" title="Delete">Delete</button>'
                            }

                            return data;
                          },
                          orderable: false,

                    },
                    {% endif %}

              ],
              "drawCallback": function(settings, json) {
                {% if perms.Mindkeepr.delete_element %}
                $(".delete").click(function(ev) { // for each edit contact url
                  ev.preventDefault(); // prevent navigation
                  var url = $(this).data("form"); // get the link form url
                  $("#deleteModal").load(url, function() { // load the url into the modal
                    $(this).modal('show'); // display the modal on url load
                  });
                return false; // prevent the click propagation
                });
                {% endif %}

              }

          });

          $( "#formsearch" ).submit(function( event ) {
            elt_table.search($('#searchinput').val()).draw();
            event.preventDefault();
          });

</script>


{% endblock %}
{% block title_extra %} - Elements{% endblock %}