{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
<script src="{% static "scripts/tree.js" %}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}
{% block body_content %}


<div class="modal hide" id="deleteModal">
</div>

<a class=" btn btn-primary event {% if not perms.Mindkeepr.add_component %}disabled{% endif%}" href="/component" title="Add component">Add component</a>
<a class=" btn btn-primary event  {% if not perms.Mindkeepr.add_machine %}disabled{% endif%}" href="/machine" title="Add machine" >Add machine</a>
<a class=" btn btn-primary event {% if not perms.Mindkeepr.add_tool %}disabled{% endif%}" href="/tool" title="Add tool" >Add tool</a>
<a class=" btn btn-primary event {% if not perms.Mindkeepr.add_book %}disabled{% endif%}" href="/book" title="Add book"  >Add book</a>
 <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="element-table" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <div id="jstree_demo_div"></div>

            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
<script type="text/javascript">
function findGetParameter(parameterName) {
    var result = null,
        tmp = [];
    location.search
        .substr(1)
        .split("&")
        .forEach(function (item) {
          tmp = item.split("=");
          if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
        });
    return result;
}

      var searchString = findGetParameter("search");
$('#element-table').DataTable({
              'serverSide': true,
              'ajax': '/api/v1/{% block typeapi %}elements{% endblock %}/?format=datatables',
              "oSearch": {"sSearch": searchString},
              "columnDefs": [
                {
                    "targets": [ 3 ],
                    "visible": false,
                    "searchable": true
                },
              ],
              'columns': [
                  { data: 'id', title: "ID" },
                  { data: 'name', title: "Name" },
                  { data: 'category.name', title: "Category"},
                  { data: 'category.id', title: "Category ID"},
                  { data: 'description', title: "Description" },
                  {% block extracolumns %}
                  {
                      data:"type",
                      title: "Type",
                      orderable: false,
                      bSearchable:false
                  },
                  {% endblock %}
                  {% block qtycolumn %}
                  { data: "quantity_owned", title: "Quantity", orderable: false,bSearchable:false},
                  {% endblock %}
                  {
                            data: 'id',
                            title: 'View',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/element/"+data
                                data = '<a href="' + url + '">' + 'View' + '</a>';
                            }

                            return data;
                          },
                          orderable: false,
                    },
                    {% if perms.Mindkeepr.change_element %}
                    {
                            data: 'id',
                            title: 'Edit',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/{% block typeapisingle %}element{% endblock %}/"+data
                                data = '<a href="' + url + '">' + 'Edit' + '</a>';
                            }

                            return data;
                          },
                          orderable: false,

                    },
                    {% endif %}
                    {% if perms.Mindkeepr.delete_element %}
                    {
                            data: 'id',
                            title: 'Delete',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/element/delete/"+data
                                data='<button type="button" class="btn btn-primary delete" href="#" data-form="'+url+'" title="Delete">Delete</button>'
                            }

                            return data;
                          },
                          orderable: false,

                    },
                    {% endif %}

              ],
              "drawCallback": function(settings, json) {
                {% if perms.Mindkeepr.delete_element %}
                $(".delete").click(function(ev) { // for each edit contact url
                  ev.preventDefault(); // prevent navigation
                  var url = $(this).data("form"); // get the contact form url
                  $("#deleteModal").load(url, function() { // load the url into the modal
                    $(this).modal('show'); // display the modal on url load
                  });
                return false; // prevent the click propagation
                });
                {% endif %}

              }

          });


</script>


{% endblock %}
{% block title_extra %} - Elements{% endblock %}