{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load display_shortcuts %}

{% block body_content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            {{ form.instance.name }}&nbsp;-&nbsp;{% block type_element %}{{ form.instance|get_class }}{% endblock %}
        </div>
        <div class="card-body">
<!-- Django include does not work well : ex: machine specific tabs wont display, as included template is evaluated as "element" and not as "machine" -->

<!-- So anyway I started copying/pasting -->

{% block event_extra_btns %}
{% endblock %}

<div class="modal hide" id="eventModal">
</div>

<div class="container-fluid">

<nav class="nav nav-tabs">
  <a class="nav-item nav-link active" href="#elt-{{form.instance.id}}-main" data-toggle="tab">Element</a>
  {% if form.instance.id %}
  <a class="nav-item nav-link" href="#elt-{{form.instance.id}}-location" data-toggle="tab">Locations</a>
  <a class="nav-item nav-link" href="#elt-{{form.instance.id}}-buy" data-toggle="tab">Buy History</a>
  <a class="nav-item nav-link" href="#elt-{{form.instance.id}}-sell" data-toggle="tab">Sell History</a>
  <a class="nav-item nav-link" href="#elt-{{form.instance.id}}-borrow" data-toggle="tab">Borrow History</a>
  <a class="nav-item nav-link" href="#elt-{{form.instance.id}}-reservation" data-toggle="tab">Reservation History</a>
  {% if form.instance.is_consummable %}
  <a class="nav-item nav-link" href="#elt-{{form.instance.id}}-consume" data-toggle="tab">Consume History</a>
  {% endif %}
  {% block extra_event_tabs%}{% endblock %}
  {% endif %}
</nav>
<div class="tab-content">
    <div class="tab-pane active" id="elt-{{form.instance.id}}-main">
        <a href="/element/barcode/{{ form.instance.id }}">Barcode</a>
         <a class="btn btn-primary" href="/element/print/add/{{ form.instance.id }}/1" role="button">Add one to print list !</a>
         {% if form.instance.image %}
         <a href="{{form.instance.image.url}}"><img width=100px src="{{ form.instance.image.url }}"/></a>
         {% endif %}
        <form id="form-element-{{ form.instance.id }}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <table>

            {{ form.as_p }}

            {{ attributes.management_form }}

            {% for attribute in attributes %}
             <tr class="link-formset">
                {% for field in attribute %}
                    <td>
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}

            {{ attachments.management_form }}

            {% for attachment in attachments %}
             <tr class="link-formset-attachment">
                {% for field in attachment %}
                    <td>
                        {{ field }}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}


        </table>
            {% if  request.resolver_match.kwargs.pk %}
            <input type="submit" value="Update">
            {% else %}
            <input type="submit" value="Save">
            {% endif %}
        </form>
        {{ form.media.js }}
    </div>
    {% if form.instance.id %}
    <div class="tab-pane" id="elt-{{form.instance.id}}-location">
        <button type="button" class="btn btn-primary event" href="#" data-event-type="buy" data-element-id="{{form.instance.id}}" data-form="/formbuyeventmodal?element={{form.instance.id}}" title="Buy"
        {% if not perms.Mindkeepr.add_buyevent or form.instance.is_unique_and_there %}disabled{% endif %}>Buy</button>

        <table
        data-element-id="{{form.instance.id}}"
        class="table compact table-striped table-bordered element-location-table"
        style="width:100%">
        </table>
    </div>

  <div class="tab-pane" id="elt-{{form.instance.id}}-buy">
    <table
    data-element-id="{{form.instance.id}}"
    class="table compact table-striped table-bordered element-buy-table"
    style="width:100%"></table>
  </div>

  <div class="tab-pane" id="elt-{{form.instance.id}}-sell">
    <table
    data-element-id="{{form.instance.id}}"
    class="table compact table-striped table-bordered element-sell-table"
    style="width:100%"></table>
  </div>
  <div class="tab-pane" id="elt-{{form.instance.id}}-borrow">
    <table
    data-element-id="{{form.instance.id}}"
    class="table compact table-striped table-bordered element-borrow-table"
    style="width:100%"></table>
  </div>
  <div class="tab-pane" id="elt-{{form.instance.id}}-reservation">
    <table
    data-element-id="{{form.instance.id}}"
    class="table compact table-striped table-bordered element-reserve-table"
    style="width:100%"></table>
  </div>
  {% if form.instance.is_consummable %}
  <div class="tab-pane" id="elt-{{form.instance.id}}-consume">
    <table
    data-element-id="{{form.instance.id}}"
    class="table compact table-striped table-bordered element-consume-table"
    style="width:100%"></table>
  </div>
  {% endif %}
{% block extra_event_tabs_content%}{% endblock %}
{% endif %}
</div>


        </div>


<!--
    </div>
</div>
-->

<script type="text/javascript">

// TODO : Add icons
        $('.link-formset').formset({
            addText: 'Add Attribute',
            deleteText: 'Remove',
            prefix: 'attributes',
        });
        $('.link-formset-attachment').formset({
            addText: 'Add Attachment',
            deleteText: 'Remove',
            prefix: 'attachments',
        });
</script>
<script>

stock_table = $(".element-location-table[data-element-id={{form.instance.id}}]").DataTable({
              "dom": '<"top">rt<"bottom"lip><"clear">',
              'serverSide': true,
              "responsive": true,
              'ajax': '/api/v1/stocks?element={{form.instance.id}}&format=datatables',
              "columnDefs": [
                {
                    "targets": [ 0,{% if form.instance.is_unique %}2{%else%}3{% endif %} ],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": '_all',
                    "defaultContent": ""
                }
              ],
              "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                  $(nRow).attr('id',"#elt-{{ form.instance.id }}-stock-"+aData.id);
                  //$(nRow).attr("id","ee")
              },
              'columns': [
                  { data: 'id', title: "Id" },
                  { data: "location", title: "Location",
                        render: function(data, type, row, meta){

                            if(type === 'display'){
                                url = "/locations/"+data.id;
                                ret = '<a href="' + url + '">' +data.name+   '</a>';
                                return ret;
                            }

                            return data.name;}},
                  {% if not form.instance.is_unique %}
                  { data: 'quantity', title: "Quantity" },
                  {% endif %}
                  {data: "status", title:"Status"},
                  { data: "project.id", title: "Project",
                    render: function(data,type,row,meta){
                    if(type === "display"){
                        if(data)
                        {
                        link = "<a href=\"/project/"+data+"\">"+row.project.name+"</a>";
                        return link;
                        }
                    }
                    if(data)
                    {
                        return row.project.name;
                    }

                  }},
                  { data: 'id', title: "Borrow",
                    render: function(data, type, row, meta){
                        project = "";
                                if(row.project)
                                {
                                    project = row.project.id;
                                }
                            if(type === 'display'){

                                button = '<button type="button" class="btn btn-primary event" href="#" data-stock="'+data+'" data-event-type="borrow" data-element-id="{{form.instance.id}}" data-form="/formborroweventmodal?stock='+data+'&project='+project+'" title="Borrow" ' ;
                                permission_borrow =  {% if perms.Mindkeepr.add_borrowevent  %} true {% else %} false {% endif %};
                                if(!permission_borrow || row.status!="FREE")
                                {
                                    button+="disabled";
                                }
                                button+= ">Borrow</button>";
                                return button;
                            }

                            return "";
                        }},
                  { data: 'id', title: "Reserve",
                    render: function(data, type, row, meta){
                            if(type === 'display'){
                                button = "";
                                if(row.project)//if not reserved
                                {
                                    button = '<button type="button" class="btn btn-primary event" href="#" data-element-id="{{form.instance.id}}" data-event-type="unreserve" data-stock="'+data+'"  data-form="/formunuseeventmodal?stock='+data+'" title="Unreserve"'

                                    permission_unuse=  {% if perms.Mindkeepr.add_unuseevent  %} true {% else %} false {% endif %};
                                    if(!permission_unuse)
                                    {
                                        button +=  "disabled";
                                    }
                                    button += '>Unreserve</button>';
                                }
                                else
                                {
                                    button = '<button type="button" class="btn btn-primary event" href="#" data-stock="'+data+'" data-element-id="{{form.instance.id}}" data-event-type="reserve" data-form="/formuseeventmodal?stock='+data+'" title="Reserve"'

                                    permission_use=  {% if perms.Mindkeepr.add_useevent  %} true {% else %} false {% endif %};
                                    if(!permission_use)
                                    {
                                        button +=  "disabled";
                                    }
                                    button += '>Reserve</button>';
                                }
                                return button;
                            }

                            return "";
                        }},

                        {% if form.instance.is_consummable %}
                        { data: "id", title: "Consume",
                        render: function(data,type,row,meta){
                        if(type === 'display'){
                                button = '<button type="button" class="btn btn-primary event" href="#" data-stock="'+data+'" data-element-id="{{form.instance.id}}" data-event-type="consume"  data-form="/formconsumeeventmodal?stock='+data+'" title="Consume"';
                                permission_consume=  {% if perms.Mindkeepr.add_consumeevent  %} true {% else %} false {% endif %};
                                if(!permission_consume)
                                {
                                    button +=  "disabled";
                                }
                                button += '>Consume</button>';

                                return button;
                            }

                            return "";
                        }},
                        {% endif %}
                        { data: 'id', title: "Sell",
                        render: function(data, type, row, meta){
                            if(type === 'display'){
                                button = '<button type="button" class="btn btn-primary event" href="#" data-stock="'+data+'" data-event-type="sell" data-element-id="{{form.instance.id}}" data-form="/formselleventmodal?stock='+data+'" title="Sell"';
                                permission_sell=  {% if perms.Mindkeepr.add_sellevent  %} true {% else %} false {% endif %};
                                if(row.status!="FREE" || !permission_sell)
                                {
                                    button +=  "disabled";
                                }

                                button += '>Sell</button>';

                                return button;
                            }

                            return "";
                        }},
                        { data: 'id', title: "Move",
                        render: function(data, type, row, meta){
                            if(type === 'display'){
                                project = "";
                                if(row.project)
                                {
                                    project = row.project.id;
                                }
                                button = '<button type="button" class="btn btn-primary event" href="#" data-stock="'+data+'" data-form="/formmoveeventmodal?stock='+data+'&project='+project+'" title="Move"';
                                permission_move=  {% if perms.Mindkeepr.add_moveevent  %} true {% else %} false {% endif %};
                                if(!permission_move)
                                {
                                    button +=  "disabled";
                                }

                                button += '>Move</button>';

                                return button;
                            }

                            return "";
                        }},

            ],

    });

    $(document).on("click",".event", function(ev) { // for each edit contact url
        ev.preventDefault(); // prevent navigation
        var url = $(this).data("form"); // get form from url

        $("#eventModal").load(url, function() { // load the url into the modal
            $(this).modal('show'); // display the modal on url load
        });
        var evttype=$(this).data("event-type");

        if(evttype === undefined)
        {
            evttype="";
        }
        var idelement=$(this).data("element-id");

        if(idelement === undefined)
        {
            idelement="";
        }
        // To know which event modal got closed, to refresh the right data
        $("#eventModal").attr("data-event-type",evttype);
        $("#eventModal").attr("data-element-id",idelement);
        return false; // prevent the click propagation
    });


load_buy_table({{form.instance.id}},
            {% if form.instance.is_unique %} true {% else %} false {% endif %},
            {% if perms.Mindkeepr.add_buyevent  %} true {% else %} false {% endif %});



load_sell_table({{form.instance.id}},
            {% if form.instance.is_unique %} true {% else %} false {% endif %},
            {% if perms.Mindkeepr.add_sellevent  %} true {% else %} false {% endif %});



load_borrow_table({{form.instance.id}},
                {% if form.instance.is_unique %} true {% else %} false {% endif %},
                {% if perms.Mindkeepr.add_borrowevent  %} true {% else %} false {% endif %},
                {% if perms.Mindkeepr.add_returnevent  %} true {% else %} false {% endif %});


load_reserve_table({{form.instance.id}},
                {% if form.instance.is_unique %} true {% else %} false {% endif %},
                {% if perms.Mindkeepr.add_useeevent  %} true {% else %} false {% endif %},
                {% if perms.Mindkeepr.add_unuseevent  %} true {% else %} false {% endif %});

load_consume_table({{form.instance.id}});

</script>




<!-- End copy/paste section -->
        </div>
    </div>
</div>
{% endblock %}