<div class="modal-dialog modal-sm">
    <form class="well delete-form" method="post" action="/{% block type %}element{% endblock %}/delete/{{ object.pk }}">{% csrf_token %}
     <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>

      <div class="modal-body">

        <p id ="confirmation_message">Are you sure you want to delete "{{ object }}" (id = {{ object.pk }})?</p>
        <p id="error_post"></p>

      </div>
      <div class="modal-footer">
        <input id="confirm_btn" class="btn btn-primary" type="submit" value="Confirm" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
        </form>
    </div>

<script>
            $('.delete-form').on('submit', function() {
            $.ajax({
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
                success: function(data, status) {
                    $('#deleteModal').modal('toggle');
                },
                fail: function(data,status){
                  console.log(status);
                },
                statusCode: {
                  500: function(data) {
                    console.log(data.responseText);
                    $("#confirmation_message").text("");
                    $("#error_post").text(data.responseText);
                    $("#confirm_btn").hide();
                  }
                }
                });
            return false;
            });
</script>