{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
<script src="{% static "scripts/tree.js" %}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}
{% block body_content %}

<div class="modal hide" id="deleteModal">
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table id="location-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <a class=" btn btn-primary {% if not perms.Mindkeepr.add_location %} disabled {%endif%}" href="/location" title="Add location" >Add location</a>
          <div id="jstree_locations"></div>
        </thead>
      </table>
    </div>
  </div>
</div>




<script type="text/javascript">

  $('#location-table').DataTable({
                'serverSide': true,
                'ajax': '/api/v1/locations/?format=datatables',
                "columnDefs": [
                {
                    "targets": [ 3 ],
                    "visible": false,
                    "searchable": true
                },
              ],
                'columns': [
                    { data: 'id', title: "ID" },
                    { data: 'name', title: "Name" },
                    { data: 'description', title: "Description" },
                    { data: 'parent.id', title: "Parent ID", bSearchable:true },
                    { data: 'parent.name', title: "Parent", bSearchable:false},
                    {
                              data: 'id',
                              title: 'View',
                              render: function(data, type, row, meta){
                              if(type === 'display'){
                                  url = "/location/"+data
                                  data = '<a href="' + url + '">' + 'View' + '</a>';
                              }

                              return data;
                            },
                            orderable: false,
                      },
                      {% if perms.Mindkeepr.change_location %}
                      {
                              data: 'id',
                              title: 'Edit',
                              render: function(data, type, row, meta){
                              if(type === 'display'){
                                  url = "/location/"+data
                                  data = '<a href="' + url + '">' + 'Edit' + '</a>';
                              }

                              return data;
                            },
                            orderable: false,

                      },
                      {% endif %}
                      {% if perms.Mindkeepr.delete_location %}
                      {
                            data: 'id',
                            title: 'Delete',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/location/delete/"+data
                                data='<button type="button" class="btn btn-primary delete" href="#" data-form="'+url+'" title="Delete">Delete</button>'
                            }

                            return data;
                          },
                          orderable: false,

                    },
                    {% endif %}


                ],
                {% if perms.Mindkeepr.delete_location %}
              "drawCallback": function(settings, json) {
                $(".delete").click(function(ev) { // for each edit contact url
                  ev.preventDefault(); // prevent navigation
                  var url = $(this).data("form"); // get the contact form url
                  $("#deleteModal").load(url, function() { // load the url into the modal
                    $(this).modal('show'); // display the modal on url load
                  });
                return false; // prevent the click propagation
                });

              }
              {% endif %}

            });


  </script>

{% endblock %}
{% block title_extra %} - Locations{% endblock %}