{% extends 'element-detail.html' %}



{% block extra_event_tabs %}
<a class="nav-item nav-link" href="#elt-{{form.instance.id}}-maintenance" data-toggle="tab">Maintenance History</a>
<a class="nav-item nav-link" href="#elt-{{form.instance.id}}-incident" data-toggle="tab">Incident History</a>
{% endblock %}
{% block extra_event_tabs_content%}

  <div class="tab-pane" id="elt-{{form.instance.id}}-maintenance">

    <button class="btn btn-primary event" type="button" href="#" data-element-id="{{form.instance.id}}" data-event-type="maintenance" data-form="/formmaintenanceeventmodal?element={{form.instance.id}}" title="Maintenance"
    {% if not perms.Mindkeepr.add_maintenanceevent %}disabled{% endif %}>Add Maintenance</button>

    <table
    data-element-id="{{form.instance.id}}"
    class="table compact table-striped table-bordered element-maintenance-table"
    style="width:100%">
      </table>
  </div>

  <div class="tab-pane" id="elt-{{form.instance.id}}-incident">
    <button class="btn btn-primary event" type="button" href="#" data-element-id="{{form.instance.id}}" data-event-type="incident" data-form="/formincidenteventmodal?element={{form.instance.id}}" title="Incident"
    {% if not perms.Mindkeepr.add_incidentevent %}disabled{% endif %}>Declare new Incident</button>

      <table
            data-element-id="{{form.instance.id}}"
            class="table compact table-striped table-bordered element-incident-table"
            style="width:100%"></table>

  </div>

  <script>
     load_incident_table({{form.instance.id}},true)
     load_maintenance_table({{form.instance.id}},true);
    </script>
{% endblock %}
