{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
{% endblock %}
{% block body_content %}

<h1>Bureau</h1>
<div class="modal hide" id="showEventModal">
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table id="events-table" class="table compact table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <div id="jstree_category"></div>

            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>






<script type="text/javascript">

$('#events-table').DataTable({
              'serverSide': true,
              'ajax': '/api/v1/{% block typeapi %}borrowings{% endblock %}/?format=datatables',
               "order": [[ 0, "desc" ]],
              'columns': [
                  { data: 'id', title: "ID" },
                  {% block extracolumns %}
                  {
                      data:"type",
                      title: "Type",
                      bSearchable:false
                  },
                  {
                      data:"creator.get_full_name",
                      title: "Creator",
                              render: function(data, type, row, meta){
                              if(data){
                                  return data;
                              }
                              else
                              {
                                return "";
                              }

                              //return data;
                            },
                            orderable: false,
                  },
                  {
                      data:"comment",
                      title: "Comment",
                      orderable: true,
                  },
                  {
                      data:"recording_date",
                      title: "Date",
                      render: function (data, type, row, meta) {
                          if (type === 'display') {
                              if(data){
                                  return convertISO8601ToHuman(data);
                              }
                              else
                              {
                                  return "Undefined";
                              }
                          } else {
                              return data;
                          }
                      },
                      orderable: true,
                  },
                  {
                            data: 'id',
                            title: 'View',
                            render: function(data, type, row, meta){
                            if(type === 'display'){
                                url = "/event/"+data
                                data='<button type="button" class="btn btn-primary showevent" href="#" data-form="'+url+'" title="View" >View</button>'
                            }

                            return data;
                          },
                          orderable: false,

                  },

                  {% endblock %}

              ],
              "drawCallback": function(settings, json) {
                $(".showevent").click(function(ev) { // for each edit contact url
                  ev.preventDefault(); // prevent navigation
                  var url = $(this).data("form"); // get the contact form url
                  $("#showEventModal").load(url, function() { // load the url into the modal
                    $(this).modal('show'); // display the modal on url load
                  });
                return false; // prevent the click propagation
                });

              }

          });

          $("#potentialborrow-table").DataTable({
        "dom": '<"top">rt<"bottom"lip><"clear">',
        'serverSide': true,
        "responsive": true,
        'ajax': '/api/v1/borrowings?format=datatables',
        //"order": [[ 6, "desc"],[ 2, "desc" ]],
        "columnDefs": [
          {
              "targets": '_all',
              "defaultContent": ""
          }
        ],
        columns: [
            { data: "id", title: "ID", visible:false},
            { data: "element.name", title: "Title"},
            { data: "beneficiary.get_full_name", title: "For"},
            { data: "recording_date", title: "Date",
            render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            return convertISO8601ToHumanDay(data);
                        }
                        else
                        {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }},
                { data: "scheduled_borrow_date", title: "From",
            render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            return convertISO8601ToHumanDay(data);
                        }
                        else
                        {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }},
                { data: "scheduled_return_date", title: "To",
            render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if(data){
                            return convertISO8601ToHumanDay(data);
                        }
                        else
                        {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }},
                { data: 'id', title: "Borrow",
                render: function(data, type, row, meta){
                    project = "";
                            if(row.project)
                            {
                                project = row.project.id;
                            }
                        if(type === 'display'){

                            button = '<button type="button" class="btn btn-primary event" href="#"  data-event-type="borrow" data-form="/formborroweventmodal?project='+project+'&potentialborrow='+data+'&beneficiary='+row.beneficiary.id+'" title="Borrow" ' ;
                            // TODO : check if free

                            button+= ">Borrow</button>";
                            return button;
                        }

                        return "";
                    }},

        ]
});
</script>


{% endblock %}
