{% extends 'base.html' %}
{% load static %}
{% block extra_headers %}
{% endblock %}
{% block body_content %}

<h1>Staff</h1>
<div class="modal hide" id="showEventModal">
</div>
<div class="container">
    <nav class="nav nav-tabs">
        <a class="nav-item nav-link active" href="#barcode" data-toggle="tab">Barcode search</a>
        <a class="nav-item nav-link" href="#borrows" data-toggle="tab">Borrows</a>
        <a class="nav-item nav-link" href="#reservations" data-toggle="tab">Reservations</a>
        <a class="nav-item nav-link" href="#parameters" data-toggle="tab">Parameters</a>
    </nav>
    <div class="tab-content">
        <div class="tab-pane active" id="barcode">

                    TBD

        </div>
        <div class="tab-pane" id="borrows">
            <div class="row">
                <div class="col-md-12">
                    <table id="active-borrowings-table" class="table compact table-striped table-bordered"
                        style="width:100%">
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="reservations">
            <div class="row">
                <div class="col-md-12">
                    <table id="reserve-borrowings-table" class="table compact table-striped table-bordered"
                        style="width:100%">
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="parameters">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>

    </div>

</div>







<script type="text/javascript">
    permission_borrow = {% if perms.Mindkeepr.change_borrowevent %} true {% else %} false {% endif %};
    function create_btn_borrowevent(action, display, btnclass, disabled, id) {

        button = '<button type="button" class="btn ' + btnclass + ' borroweventaction" href="#" data-borrow-action="' + action + '" data-borrow-id="' + id + '" title="Start" ';
        if (disabled) {
            button += " disabled";
        }
        button += ">" + display + "</button>";
        return button;
    }
    //$(".element-borrow-table[data-element-id="+$(evt.target).data("element-id")+"]").DataTable().rows().invalidate().draw();
    $('#reserve-borrowings-table').DataTable({
        'serverSide': true,
        'ajax': '/api/v1/borrowings/?state=NOT_STARTED&format=datatables',
        "order": [[0, "desc"]],
        'columns': [
            { data: 'id', title: "ID", visible: false },
            {
                data: "element.custom_id_display",
                title: "Id",
                orderable: false,
                searchable: false
            },
            {
                data: "element.name",
                title: "Name",
                orderable: false,
            },
            {
                data: "beneficiary.first_name",
                title: "Beneficiary",
                visible: false
            },

            {
                data: "beneficiary.last_name",
                title: "Beneficiary",
                visible: false
            },
            {
                data: "beneficiary.get_full_name",
                title: "Beneficiary",
                orderable: false,
                searchable: false
            },
            {
                data: "comment",
                title: "Comment",
                orderable: true,
            },
            {
                data: "borrow_date_display", title: "From",
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if (data) {
                            return convertISO8601ToHumanDay(data);
                        }
                        else {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }
            },
            {
                data: "return_date_display", title: "to",
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if (data) {
                            return convertISO8601ToHumanDay(data);
                        }
                        else {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }
            },
            {
                data: "id", title: "Start", searchable: "false", orderable: "false",
                render: function (data, type, row, meta) {
                    if (type === "display") {
                        return create_btn_borrowevent("start", "Start", "btn-success", !permission_borrow, row.id);
                    }
                    return false;
                }
            },
            {
                data: "id", title: "Cancel", searchable: "false", orderable: "false",
                render: function (data, type, row, meta) {
                    if (type === "display") {
                        return create_btn_borrowevent("cancel", "Cancel", "btn-danger", !permission_borrow, row.id);
                    }
                    return false;
                }
            },

        ],


    });

    $('#active-borrowings-table').DataTable({
        'serverSide': true,
        'ajax': '/api/v1/borrowings/?state=IN_PROGRESS&format=datatables',
        "order": [[0, "desc"]],
        'columns': [
            { data: 'id', title: "ID", visible: false },
            {
                data: "element.custom_id_display",
                title: "Id",
                orderable: false,
                searchable: false
            },
            {
                data: "element.name",
                title: "Name",
                orderable: false,
            },
            {
                data: "beneficiary.first_name",
                title: "Beneficiary",
                visible: false
            },

            {
                data: "beneficiary.last_name",
                title: "Beneficiary",
                visible: false
            },
            {
                data: "beneficiary.get_full_name",
                title: "Beneficiary",
                orderable: false,
                searchable: false
            },
            {
                data: "comment",
                title: "Comment",
                orderable: true,
            },
            {
                data: "borrow_date_display", title: "From",
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if (data) {
                            return convertISO8601ToHumanDay(data);
                        }
                        else {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }
            },
            {
                data: "return_date_display", title: "to",
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        if (data) {
                            return convertISO8601ToHumanDay(data);
                        }
                        else {
                            return "Undefined";
                        }
                    } else {
                        return data;
                    }
                }
            },
            { data : "id", title: "Return", searchable: "false", orderable: "false",
            render:function(data,type,row,meta){
            if(type==="display")
            {
                return create_btn_borrowevent("return", "Return", "btn-success", !permission_borrow, row.id);
            }
            return false;
        }},
                { data : "id", title: "Extend", searchable: "false", orderable: "false",
                render:function(data,type,row,meta){
                if(type==="display")
                {
                    return create_btn_borrowevent("extend", "Extend", "btn-primary", !permission_borrow, row.id);
                }
                return false;
            }},

        ],

    });

</script>


{% endblock %}